.home-div {
  background-color: #170b29;
  margin: auto;
  padding: 10vh;
}

.main-title {
  padding-top: 4vh;
  /* padding-bottom: 1vh; */
  text-align: center;
  color: #fffbd4;
  font-size: 3em;
}

.intro-blurb {
  text-align: center;
  color: #fffbd4;
}

nav {
  margin-top: 7vh;
  margin-bottom: 10vh;
}

#nav-bar .nav-item {
  display: flex;
  justify-content: center;
  margin: 5vh;
  font-size: 2vw;
}

a {
  color: rgb(191,67, 113); /* deep pink  */
}


a:hover {
  color: rgb(212, 206, 219) /* light purple */
}


#proj {

}


#abt {

}


#cont {

}

.modal-btn {
  border-radius: 0px;
  color: white;
}

