.home-div {
  background-color: black;
  margin: auto;
  padding: 10vh;
}

.main-title {
  padding-top: 4vh;
  /* padding-bottom: 1vh; */
  text-align: center;
  color: beige;
  font-size: 3em;
}

.intro-blurb {
  text-align: center;
  color: beige;
}

.nav-menu {

}

.nav {

}


#nav-bar .nav-item {
  display: flex;
  justify-content: center;
  margin: 5vh;
  font-size: 2vw;
}


a {
  color: rgb(191,67, 113); /* deep pink  */
}


a:hover {
  color: rgb(139, 59, 116) /* hot purple */
}


#proj {

}


#abt {

}


#cont {

}

.modal-btn {
  border-radius: 0px;
  color: white;
}

