/* projects.css */


.project-container {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  /* height: auto;
  width: auto; */
  margin: 5vh;
}

#discover-bloom {
  align-self: stretch;
}

#feelin-presidential {
  /* float: right; */
}

#databayes {

}


.project-container p {
  align-self: center;
  text-align: center;
}

.project-container img {
  width: 40%;
  flex-grow: 1;
  order: 1;
  height: auto;
  margin: auto;
  margin-bottom: 3vw;
}

.project-container a {
  align-self: center;
  color: rgb(191, 67, 113); /* deep pink  */;
}

.project-container a:hover {
  color: rgb(212, 206, 219) /* light purple */
}

